<div>
  <h3> Pipes </h3>
  <h4> Pipes are what your data flows through  </h4>
  <p>
  <h4> in_type: pipe_in_xml </h4>
  <h4> in_type: pipe_in_unmod </h4>
  <h4> out_type: pipe_out_json </h4>
  <h4> out_type: pipe_out_unmod </h4>
  </p>
</div>

<div>
  <h3> Flows </h3>
  <h4> Flows are how you get the data into the pipes </h4>
  <p>
  <h4> connector_type: connector_url </h4>
  <h4> connector_type: connector_endpoint </h4>
  </p>
</div>

<div>
  <h3> Endpoints </h3>
  <h4> Endpoints provide an API for custom communication with a pipe via a flow</h4>
  <p>
    Endpoints are writtable via an external url such as /endpoints/:id/push, they provide temporary database storage of data
    for retrieval by a flow.
  </p>
</div>

<div>
  <h3> Transforms </h3>
  <p>
  <h4> Transforms define actions you can perform on the data while its flowing thorugh the pipes </h4>
  <h4> transform_regexp_replace </h4>
  </p>
</div>

